body{
    background:#e3f2fd;
}
.list-group{
    width: 112%;
}
#iVentes{
    height: 57px;
}
#f{
    border-radius: 15px;
}
#fTable{
    border-radius: 15px;
}

#tdButton{
    width: 185px;
}
#border{
    border-top: 2px solid #cccccc;
}
#thLiv{
width: 100px;
}
#thLDesc{
    width: 700px;
}
#subject{
    height: 38px;
}